@font-face {
  font-family: LittleBearBlack;
  src: url('../../sources/fonts/LittleBearBlackRegular.woff2') format('woff2'),
      url('../../sources/fonts/LittleBearBlackRegular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muli;
  src: url('../../sources/fonts/Muli-SemiBold.woff2') format('woff2'),
      url('../../sources/fonts/Muli-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PatrickHand;
  src: url('../../sources/fonts/PatrickHand-Regular.woff2') format('woff2'),
      url('../../sources/fonts/PatrickHand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url('../../sources/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../../sources/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url('../../sources/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../../sources/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: CoveredByYourGrace;
  src: url('../../sources/fonts/CoveredByYourGrace.woff2') format('woff2'),
      url('../../sources/fonts/CoveredByYourGrace.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url('../../sources/fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../../sources/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


