/* Variables */

:root {
  /* Font family */
  --font-family-primary: Manrope, sans-serif;
  --font-family-secondary: Assistant, sans-serif;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.210rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;

  /* Colors */
  --color-primary-100: #F2F4F9;
  --color-primary-500: #3A3766;
  --color-secondary-500: #FFCD02;
  --color-terciary-500: #B3E8FD;
  --color-terciary-700: #A31D3A;
  --color-gray-500: #377F915E;
}
